/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/.bitfun
/.deveco
/.cache
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/entry/src/main/resources/rawfile/danmaku_config.json
